#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    width: 768px;
    height: 1024px;
    border: 5px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.pad-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.pad-header-left,
.pad-header-middle,
.pad-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    width: 100px;
    height: 100%;
}

.pad-header-middle {
    & > .clock {
        font-size: 20px;
        font-weight: 600;
        color: #222222;
        cursor: default;
    }
}

.pad-header-left,
.pad-header-right {
    & svg {
        width: 25px;
        height: 25px;
        margin-left: 3px;
        fill: #222222;
        stroke: #222222;;

        & path {
            fill: #222222;
        }
    }
}

.main-layout {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}